{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">
  
  {% if page.pre_header|render|striptags|trim is not empty or
  page.header|render|striptags|trim is not empty%}
    <header class="container-header" role="banner">
      {% if page.pre_header %}
        <div class="layout-pre-header">
          <div class="container-fluid">
            {{ page.pre_header }}
          </div>
        </div>
      {% endif %}
      {% if page.header|render|striptags|trim is not empty %}
        <div class="layout-header">
          <nav class="navbar">
            <div class="container-fluid">
              {{ page.header }}
              <span data-sidr-options="true" class="fa fa-bars sidr-trigger js-sidr-trigger pull-right" style="font-size: 1.6em; color: white; padding: .5em; cursor: pointer; position: absolute; right: 0; top: 0"></span>
            </div>
          </nav>
        </div>
      {% endif %}
      
    </header>
  {% endif %}
  
  {% if page.highlighted %}
    <div class="layout-highlighted">
      <div class="container-fluid">
        {{ page.highlighted }}
      </div>
    </div>
  {% endif %}
  
  {% if page.tabs %}
    <div class="layout-tabs">
      <div class="container-fluid">
        {{ page.tabs }}
      </div>
    </div>
  {% endif %}
  
  {% if page.banner_top|render|striptags|trim is not empty %}
      <div class="layout-banner-top">
        <div class="container-fluid">
          {{ page.banner_top }}
        </div>
      </div>
  {% endif %}
  
  {% if page.breadcrumbs|render|striptags|trim is not empty %}
      {% if not is_front  %}
        <div class="layout-breadcrumbs">
          <div class="container-fluid">
            {{ page.breadcrumbs }}
          </div>
        </div>
      {% endif %}
  {% endif %}
  
  
    <div class="layout-page-title">
      {% if is_front %}
        <div class="is-front container-fluid">
          {{ page.page_title }}
        </div>
      {% else %}
        <div class="container-fluid">
          {{ page.page_title }}
        </div>
      {% endif %}
    </div>
  
  
  
  
  <main role="main" class="main wrapper-content">
    <div class="container-fluid">
      <a id="main-content" tabindex="-1"></a>
      {% if is_front %}
        <section>
        {{ page.content }}
        </section>
      {% else %}
        <div class="row">
          <section class="layout-content col-md-8 col-lg-9">
          {{ page.content }}
          </section>
          {% if page.sidebar|render|striptags|trim is not empty %}
            <aside class="layout-sidebar col-md-4 col-lg-3" role="complementary">
              {{ page.sidebar }}
            </aside>
          {% endif %}
         </div>
      {% endif %}
    </div>
  </main>
  
  {% if page.content_bottom|render|striptags|trim is not empty %}
    <div class="layout-content-bottom">
      {{ page.content_bottom }}
    </div>
  {% endif %}
  
  {% if page.footer|render|striptags|trim is not empty %}
    <div class="layout-footer">
      <footer class="footer site-footer__top" role="contentinfo">
        <div class="container-fluid">
          {{ page.footer }}
        </div>
      </footer>
    </div>
  {% endif %}
  
  {% if page.bottom|render|striptags|trim is not empty %}
    <div class="layout-bottom site-footer__bottom">
      <div class="container-fluid">
        {{ page.bottom }}
      </div>
    </div>
  {% endif %}
  
</div>

{% if is_front %}

<div class="modal show fade bd-example-modal-xl"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
     <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <img src="themes/contrib/senapi_ui/assets/images/images/RendicionDeCuentas2019.jpg" class="img-fluid">
    </div>
  </div>
</div>

{% endif %}

{% include "@senapi_ui/modal.html.twig" %}
{% include "@senapi_ui/scrollup.html.twig" %}