/*comunicados*/
.block-topic-news.block-topic-news-horizontal {
  .view-content {
    width: 100%;
    padding: 0;
    .views-field-field-prensa-images {
      width: 100%;
      margin-top: 0;
      margin-right: 0;
    }
    .views-field-title {
      a {
        display: block;
        text-transform: none;
        font-size: 110%;
      }
    }
  }
  .views-row {
    &:nth-child(3n+1) {
      clear: left;
      margin-left: 0;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}
.block-topic-news {
  .view-content {
    margin-bottom: 10px;
    .views-field-field-prensa-images {
      float: left;
      width: 100%;
      margin: 15px 0;
      &:hover {
        opacity: 0.5;
      }
    }
    .views-field-title {
      margin-bottom: 10px;
      a {
        text-transform: uppercase;
        color: #222;
        font-size: 110%;
        font-weight: bold;
        line-height: 1.2;
        &:hover {
          text-decoration: none;
          color: #b70000;
        }
      }
    }
    .views-field-body {
      margin-top: 8px;
    }
  }
}
/*Listado Notas de Prensa*/
.view-list-articles {
  .views-row {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  .views-field-field-prensa-images {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 10px;
    &:hover {
      opacity: 0.5;
    }
    .field-topic {
      position: absolute;
      top: 5px;
      left: 5px;
      float: left;
      padding: 5px 10px;
      background: #b70000;
      a {
        color: #fff;
      }
      img {
        width: auto;
        margin: 0;
      }
    }
    .topic-1 {
      background: #fc0;
    }
    .topic-2 {
      background: #0f6;
    }
    .topic-3 {
      background: #f30;
    }
    .topic-4 {
      background: #1db6b6;
    }
    .topic-5 {
      background: #96c;
    }
    .topic-6 {
      background: #f06;
    }
  }
  .views-field-title {
    padding-bottom: 10px;
    a {
      color: #222;
      font-size: 150%;
      font-weight: bold;
      line-height: 1;
      &:hover {
        text-decoration: none;
        color: #b70000;
      }
    }
  }
  .views-field-field-prensa-date {
    display: inline-block;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #aaa;
  }
  .views-field-view-node {
    a {
      float: none;
      padding: 0;
      color: #999;
      background: none;
      font-weight: bold;
    }
  }
  .views-field-body {
    margin-bottom: 15px;
  }
}
/*Listado Revistas de Patentes*/
.view-list-revistas-patentes {
  .views-field-field-revistapatente-image {
    position: relative;
    width: 100%;
    margin: 0 0 10px;
    &:hover {
      opacity: 0.5;
    }
    img {
      width: 100%;
      margin: 0;
    }
  }
  .views-field-field-revistapatente-title {
    padding-bottom: 10px;
    color: #222;
    font-weight: bold;
    line-height: 1;
    &:hover {
      text-decoration: none;
      color: #b70000;
    }
  }
  .views-view-grid {
    .row {
      margin-bottom: 2rem;
    }
  }
}
/*Listado Material Difusión*/
.view-list-material-difusion {
  .views-field-field-memoriaanual-image {
    position: relative;
    width: 100%;
    margin: 0 0 10px;
    &:hover {
      opacity: 0.5;
    }
    img {
      width: 100%;
      margin: 0;
    }
  }
  .views-field-field-memoriaanual-title {
    padding-bottom: 10px;
    color: #222;
    font-weight: bold;
    line-height: 1;
    &:hover {
      text-decoration: none;
      color: #b70000;
    }
  }
  .views-view-grid {
    .row {
      margin-bottom: 2rem;
    }
  }
}
/*Listado Auditoria Interna*/
.view-list-auditoria-interna {
  .views-field-field-auditoriainterna-title {
    padding-bottom: 10px;
    color: #222;
    font-weight: bold;
    line-height: 1;
    &:hover {
      text-decoration: none;
      color: #b70000;
    }
  }
  .views-view-grid {
    .row {
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ddd;
    }
  }
}
/*Listado Gaceta Web*/
.view-list-gaceta {
  .views-field-field-gaceta-title {
    padding-bottom: 10px;
    color: #222;
    font-weight: bold;
    line-height: 1;
    &:hover {
      text-decoration: none;
      color: #b70000;
    }
  }
  .views-field-field-gaceta-signo-file,
  .views-field-field-gaceta-patente-file,
  .views-field-field-gaceta-dautor-file {
    display: inline-block;
    margin-right: 1rem;
  }
  .views-view-grid {
    .row {
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ddd;
    }
  }
}
/*Listado Oposiciones*/
.view-list-oposicion {
  .views-field-field-opsicion-title {
    padding-bottom: 10px;
    color: #222;
    font-weight: bold;
    line-height: 1;
    &:hover {
      text-decoration: none;
      color: #b70000;
    }
  }
  .views-view-grid {
    .row {
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ddd;
    }
  }
}
/*Listado Memoria Anual*/
.view-list-memoria-anual {
  .views-field-field-memoriaanual-image {
    position: relative;
    width: 100%;
    margin: 0 0 10px;
    &:hover {
      opacity: 0.5;
    }
    img {
      width: 100%;
      margin: 0;
    }
  }
  .views-field-field-memoriaanual-title {
    padding-bottom: 10px;
    color: #222;
    font-weight: bold;
    line-height: 1;
    &:hover {
      text-decoration: none;
      color: #b70000;
    }
  }
  .views-view-grid {
    .row {
      margin-bottom: 2rem;
    }
  }
}
@media only screen  and (min-width: 768px) and (max-width: 991px) {
  .view-list-articles {
    .views-field-field-prensa-images {
      width: 180px;
      margin: 0 20px 0 0;
      img {
        width: 180px;
        margin: 0 20px 0 0;
      }
    }
  }
}
@media only screen  and (min-width: 992px) and (max-width: 1199px) {
  .view-list-articles {
    .views-field-field-prensa-images {
      width: 220px;
      margin: 0 20px 0 0;
    }
  }
}
@media only screen  and (min-width: 1200px) {
  .view-list-articles {
    .views-field-field-prensa-images {
      width: 300px;
      margin: 0 20px 0 0;
    }
  }
}
