.box-contentype {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 9rem;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid #fff;
  background-color: #e5e6eb;
}
.box-contentype h4 {
  text-transform: uppercase;
}
.box-contentype .hover-contentype {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: all 0.3s ease;
  text-align: center;
  opacity: 0;
  background: #c40c7f;
}
.box-contentype:hover .hover-contentype {
  top: 0;
  opacity: 1;
}
.box-contentype .hover-contentype h4 {
  color: #fff;
}
.box-contentype .hover-contentype p {
  text-align: left;
  color: #fff;
}
