/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */

.breadcrumb {
  margin-bottom: $grid-gutter-width;
  padding: $spacer;
  background: #fff;
  font-size: 0.929em$font-size-sm;
}
.region-breadcrumb {
  width: 100%;
  padding: 0 15px 0.25em;
}
