/**
 * @file
 * Visual styles for Bootstrap Barrio's form components.
 */
$form-input-height: 7px;
.form-required::after {
  display: inline-block;
  width: ($form-input-height);
  height: ($form-input-height);
  margin: 0 0.3em;
  content: "";
  vertical-align: super;
  background-image: url(../../images/required.svg);
  background-repeat: no-repeat;
  background-size: ($form-input-height) ($form-input-height);
}
form .filter-wrapper {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-right: 0;
  padding-left: 0;
}
form .form-type-textarea {
  //margin-bottom: 0;
}
