/**
 * @file
 * Visual styles for icons.
 */

.icon-help {
  /* LTR */
  padding: 1px 0 1px ($spacer * 1.5);
  background: url(/../../images/help.png) 0 50% no-repeat;
  /* LTR */
}
[dir="rtl"] .icon-help {
  padding: 1px ($spacer * 1.5) 1px 0;
  background-position: 100% 50%;
}
.feed-icon {
  display: block;
  overflow: hidden;
  width: $font-size-base;
  height: $font-size-base;
  text-indent: -9999px;
  background: url(/../../images/feed.svg) no-repeat;
}
