/* ------------------ Sidebar ----------------- */

.sidebar {
  .block {
    position: relative;
    margin: 0 0 $spacer;
    margin-bottom: $grid-gutter-width ;
    padding: $spacer $spacer;
    transition: all 0.3s ease-in-out;
    //border-style: solid;
    border-width: $border-width;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    .content {
      font-size: $font-size-base;
      line-height: $line-height-sm;
    }
  }
  h2 {
    margin: 0 0 ($spacer * 0.5);
    padding-bottom: 5px;
    border-bottom: $border-width solid $border-color;
    text-shadow: 0 $border-width 0 $white;
    font-size: $font-size-lg;
    line-height: $headings-line-height;
  }
  tbody {
    border: none;
  }
  tr.even,
  tr.odd {
    border-bottom: $border-width solid $border-color;
    background: none;
  }
  nav ul.nav {
    margin: 0 -($spacer);
  }
}
