/**
 * @file
 * Vertical Tabs.
 */

.vertical-tabs {
  display: flex;
  flex-direction: row;
  margin: 0;
  /* LTR */
  border: $border-width solid $border-color;
  font-size: $font-size-sm;
}
[dir="rtl"] .vertical-tabs {
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: 0;
}
.vertical-tabs__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* LTR */
  width: 15em;
  margin: 0;
  /* LTR */
  padding: 0;
  list-style: none;
  border-top: $border-width solid $border-color;
}
[dir="rtl"] .vertical-tabs__menu {
  margin-right: -15em;
  margin-left: 0;
}
.vertical-tabs__pane {
  margin: 0;
  border: 0;
}
.vertical-tabs__pane > summary {
  display: none;
}
/* Layout of each tab. */

.vertical-tabs__menu-item {
  border: $border-width solid $border-color;
  border-top: 0;
  background: #eee;
}
.vertical-tabs__menu-item a {
  display: block;
  padding: 0.5em 0.6em;
  text-decoration: none;
}
.vertical-tabs__menu-item a:focus .vertical-tabs__menu-item-title,
.vertical-tabs__menu-item a:active .vertical-tabs__menu-item-title,
.vertical-tabs__menu-item a:hover .vertical-tabs__menu-item-title {
  text-decoration: underline;
}
.vertical-tabs__menu-item a:hover {
  outline: $border-width dotted;
}
.vertical-tabs__menu-item.is-selected {
  border-right-width: 0;
  /* LTR */
  background-color: $white;
}
[dir="rtl"] .vertical-tabs__menu-item.is-selected {
  border-right-width: $border-width;
  border-left-width: 0;
}
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title {
  color: $black;
}
.vertical-tabs__menu-item-summary {
  display: block;
  margin-bottom: 0;
  line-height: normal;
}
