body {
  color: #727272;
  background: #e5e5e5 url($senapi-body-bg);
  //font-size: 0.975rem;
  font-size: 0.950rem;
}
/*Titulo paginas*/
h1 {
  &.page-header {
    margin-bottom: 0.5em;
    padding: 10px 0 15px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    line-height: 1.3333;;
  }
}
/*block views titulo*/
h2 {
  &.block-title {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 40px 0 10px 0;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 0;
    font-size: 26px;
    font-weight: 600;
    &:after {
      display: block;
      width: 100%;
      height: 5px;
      margin-top: -15px;
      content: "";
      text-align: center;
      background: #f2f4f8;
    }
    span {
      display: inline-block;
      padding: 0 25px;
      background: #fff;
    }
  }
}
/*general*/
.container-fluid {
  max-width: 1700px;
}
.row {
  &.no-padding {
    margin-right: 0;
    margin-left: 0;
     > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
.container-fluid {
  &.no-padding {
    padding-right: 0;
    padding-left: 0;
  }
}
