.layout-pre-header {
  background-color: #fff;
}
.layout-header {
  background-color: $primary-color;
}
.layout-banner-top {
  background-color: #494a4d;
}
.layout-tabs,
.layout-page-title,
.wrapper-content,
.layout-sidebar {
  .wrapper-region {
    padding: 15px;
    background-color: #fff;
  }
}
.layout-footer,
.layout-bottom {
  color: #fff;
}
.layout-footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background: #494a4d;
}
.layout-bottom {
  padding-top: 30px;
  background: $primary-color;
  .social-media-links--platforms {
    a {
      color: #fff;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
