/*pagina principal*/
.path-frontpage {
  .page-header {
    display: none;
  }
}
/*carousel*/
.main-banner {
  position: relative!important;
  margin-bottom: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.main-banner {
  background: #494a4d;
}
/*propiedad intelectual*/
.item-container {
  position: relative;
  .item-box {
    padding: 20px;
    img {
      max-width: 80px;
    }
  }
  .item-text {
    display: inline-flex;
    max-width: 70%;
    margin-left: 10px;
    vertical-align: middle;
  }
}
.bg-image {
  position: absolute;
  right: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.bg-area {
  opacity: 0.2;
}
.bg-signo {
  background: #13579e;
}
.bg-patente {
  background: #c40c7f;
}
.bg-dda {
  background: #76b72c;
}
.bg-infraccion {
  background: red;
}
