
@font-face {
  font-family: 'FagoCo-Bold';
  src: url('FagoCo-Bold.eot?#iefix') format('embedded-opentype'),  url('FagoCo-Bold.otf')  format('opentype'),
	     url('FagoCo-Bold.woff') format('woff'), url('FagoCo-Bold.ttf')  format('truetype'), url('FagoCo-Bold.svg#FagoCo-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
