/************************************FONTS SENAPI START **************************************/
//assets
$asset-root: "../assets";
@font-face {
  font-family: "FagoCo";
  src: url("#{$asset-root}/fonts/FagoCo/FagoCo.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/FagoCo/FagoCo.otf") format("opentype"),
  url("#{$asset-root}/fonts/FagoCo/FagoCo.woff") format("woff"),
  url("#{$asset-root}/fonts/FagoCo/FagoCo.ttf") format("truetype"),
  url("#{$asset-root}/fonts/FagoCo/FagoCo.svg#FagoCo") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FagoCo-Bold";
  src: url("#{$asset-root}/fonts/FagoCo-Bold/FagoCo-Bold.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/FagoCo-Bold/FagoCo-Bold.otf") format("opentype"),
  url("#{$asset-root}/fonts/FagoCo-Bold/FagoCo-Bold.woff") format("woff"),
  url("#{$asset-root}/fonts/FagoCo-Bold/FagoCo-Bold.ttf") format("truetype"),
  url("#{$asset-root}/fonts/FagoCo-Bold/FagoCo-Bold.svg#FagoCo-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FagoCo-BoldItalic";
  src: url("#{$asset-root}/fonts/FagoCo-BoldItalic/FagoCo-BoldItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/FagoCo-BoldItalic/FagoCo-BoldItalic.otf") format("opentype"),
  url("#{$asset-root}/fonts/FagoCo-BoldItalic/FagoCo-BoldItalic.woff") format("woff"),
  url("#{$asset-root}/fonts/FagoCo-BoldItalic/FagoCo-BoldItalic.ttf") format("truetype"),
  url("#{$asset-root}/fonts/FagoCo-BoldItalic/FagoCo-BoldItalic.svg#FagoCo-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FagoCo-Italic";
  src: url("#{$asset-root}/fonts/FagoCo-Italic/FagoCo-Italic.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/FagoCo-Italic/FagoCo-Italic.otf") format("opentype"),
  url("#{$asset-root}/fonts/FagoCo-Italic/FagoCo-Italic.woff") format("woff"),
  url("#{$asset-root}/fonts/FagoCo-Italic/FagoCo-Italic.ttf") format("truetype"),
  url("#{$asset-root}/fonts/FagoCo-Italic/FagoCo-Italic.svg#FagoCo-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FagoCo-Medium";
  src: url("#{$asset-root}/fonts/FagoCo-Medium/FagoCo-Medium.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/FagoCo-Medium/FagoCo-Medium.otf") format("opentype"),
  url("#{$asset-root}/fonts/FagoCo-Medium/FagoCo-Medium.woff") format("woff"),
  url("#{$asset-root}/fonts/FagoCo-Medium/FagoCo-Medium.ttf") format("truetype"),
  url("#{$asset-root}/fonts/FagoCo-Medium/FagoCo-Medium.svg#FagoCo-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FagoNo-Bold";
  src: url("#{$asset-root}/fonts/FagoNo-Bold/FagoNo-Bold.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/FagoNo-Bold/FagoNo-Bold.otf") format("opentype"),
  url("#{$asset-root}/fonts/FagoNo-Bold/FagoNo-Bold.woff") format("woff"),
  url("#{$asset-root}/fonts/FagoNo-Bold/FagoNo-Bold.ttf") format("truetype"),
  url("#{$asset-root}/fonts/FagoNo-Bold/FagoNo-Bold.svg#FagoNo-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url("#{$asset-root}/fonts/Georgia/Georgia.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/Georgia/Georgia.otf") format("opentype"),
  url("#{$asset-root}/fonts/Georgia/Georgia.woff") format("woff"),
  url("#{$asset-root}/fonts/Georgia/Georgia.ttf") format("truetype"),
  url("#{$asset-root}/fonts/Georgia/Georgia.svg#Georgia") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia-Bold";
  src: url("#{$asset-root}/fonts/Georgia-Bold/Georgia-Bold.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/Georgia-Bold/Georgia-Bold.otf") format("opentype"),
  url("#{$asset-root}/fonts/Georgia-Bold/Georgia-Bold.woff") format("woff"),
  url("#{$asset-root}/fonts/Georgia-Bold/Georgia-Bold.ttf") format("truetype"),
  url("#{$asset-root}/fonts/Georgia-Bold/Georgia-Bold.svg#Georgia-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia-BoldItalic";
  src: url("#{$asset-root}/fonts/Georgia-BoldItalic/Georgia-BoldItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/Georgia-BoldItalic/Georgia-BoldItalic.otf") format("opentype"),
  url("#{$asset-root}/fonts/Georgia-BoldItalic/Georgia-BoldItalic.woff") format("woff"),
  url("#{$asset-root}/fonts/Georgia-BoldItalic/Georgia-BoldItalic.ttf") format("truetype"),
  url("#{$asset-root}/fonts/Georgia-BoldItalic/Georgia-BoldItalic.svg#Georgia-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia-Italic";
  src: url("#{$asset-root}/fonts/Georgia-Italic/Georgia-Italic.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/Georgia-Italic/Georgia-Italic.otf") format("opentype"),
  url("#{$asset-root}/fonts/Georgia-Italic/Georgia-Italic.woff") format("woff"),
  url("#{$asset-root}/fonts/Georgia-Italic/Georgia-Italic.ttf") format("truetype"),
  url("#{$asset-root}/fonts/Georgia-Italic/Georgia-Italic.svg#Georgia-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/************************************FONTS SENAPI END **************************************/
