//
// Application Variables
//-----------------------------------------------------

// Primary font
$body-font: "FagoCo", -apple-system, BlinkMacSystemFont, "Georgia", Roboto, "Helvetica Neue", Arial, sans-serif;
//
// Theme Colors
//

$white: #fff;

// Primary color is the main color of the application which is used
// for navbar, active links and primary button.

// ------ Primary Colors from google material design color palette ------
// Blue  : #2196F3
// Teal  : #009688
// Green : #4CAF50
// Brown : #795548
// Purple: #673AB7

//$primary-color: #3F3D31;
$primary-color: #2d2d2d;
$secundary-color: #da1133;

// Complementry color is used to indecate the loading bar on the top
// of the page with pace.js plugin
$complementry-color: adjust_hue($primary-color, 180);

// ------- Sidebar Width --------
$sidebar-width: 230px;

// ------- Sidebar Colors --------

// Background color of sidebar
$sidebar-color: #b70000;

// -- Suggested sidebar background colors
// dark  : #222d32
// light : #f8f8f8

// Sidebar accent varible is used to determine the color of the links
// of the sidebar. The allowed values are 'light' or 'dark' only
$sidebar-accent: dark;

// The following varibles indecate sidebar link color
// and link hover color when using a dark sidebar color
$sidebar-dark-color: #fff;
$sidebar-dark-link-color: #fff;

// The following varibles indecate sidebar link color
// and link hover color when using a light sidebar color
$sidebar-light-color: #000;
$sidebar-light-link-color: #333;

//superfish
$menu-border: "../assets/images/mainmenu-border.png";
$menu-active: "../assets/images/mainmenu-active.png";

//body
$senapi-body-bg: "../assets/images/bg.png";


// drupal 8
$primary-shade: #6c757d;
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: $primary-color;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);

// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;


//grid column
$grid-gutter-width: 10px !default;

// Spacing
$spacer: 0.7rem !default;
$form-text-margin-top: 0.0rem !default;
