$color1: $primary-color;
$bg-color: #e5e5e5;
$bg-live: #e5e5e5 url($senapi-body-bg);
.loader {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.over-loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $bg-color;
}
// demo loader
.hide-loader {
  display: none;
}
.switch-loader {
  position: fixed;
  z-index: 999999;
  bottom: 0;
  left: 0;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 4px;
      padding: 10px;
      color: $color1;
      font-size: 16px;
      a {
        text-decoration: none;
        color: $color1;
      }
      &.active {
         > a {
          color: #000;
        }
      }
    }
  }
}
.loader-live {
  z-index: 9999991;
  background: $bg-live;
}
// end demo
.loader-item {
  &.style2 {
    width: 40px;
    height: 40px;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
    background-color: $color1;
  }
  &.style1 {
    position: relative;
    width: 40px;
    height: 40px;
    .double-bounce1,
    .double-bounce2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2.0s infinite ease-in-out;
      opacity: 0.6;
      border-radius: 50%;
      background-color: $color1;
    }
    .double-bounce2 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }
  }
  &.style3 {
     > div {
      display: inline-block;
      width: 10px;
      height: 35px;
      margin: 2px;
      border-radius: 2px;
      background-color: $color1;

      animation-fill-mode: both;
      &:nth-child(1) {
        animation: 1s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.1s normal none infinite running line-scale;
      }
      &:nth-child(2) {
        animation: 1s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.2s normal none infinite running line-scale;
      }
      &:nth-child(3) {
        animation: 1s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.3s normal none infinite running line-scale;
      }
      &:nth-child(4) {
        animation: 1s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.4s normal none infinite running line-scale;
      }
      &:nth-child(5) {
        animation: 1s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.5s normal none infinite running line-scale;
      }
    }
  }
  &.style4 {
    position: relative;
    width: 40px;
    height: 40px;
    .cube1,
    .cube2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
      animation: sk-cubemove 1.8s infinite ease-in-out;
      background-color: $color1;
    }
    .cube2 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
  }
  &.style5 {
    width: 70px;
    text-align: center;
     > div {
      display: inline-block;
      width: 18px;
      height: 18px;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      border-radius: 100%;
      background-color: $color1;
    }
    .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }
  &.style6 {
    width: 40px;
    height: 40px;
    .sk-cube {
      float: left;
      width: 33%;
      height: 33%;
      -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
      animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
      background-color: $color1;
    }
    .sk-cube1 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    .sk-cube2 {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    .sk-cube3 {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
    .sk-cube4 {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
    .sk-cube5 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    .sk-cube6 {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    .sk-cube7 {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
    .sk-cube8 {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
    .sk-cube9 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
  }
  &.style7 {
    position: relative;
    width: 60px;
     > div {
      position: absolute;
      top: 30px;
      left: 30px;
      width: 15px;
      height: 15px;
      margin: 2px 2px 2px 15px;
      border-radius: 100%;
      background-color: $color1;

      animation-fill-mode: both;
      &:first-child {
        animation: 1.5s linear 0s normal none infinite running ball-zig-deflect;
      }
      &:last-child {
        animation: 1.5s linear 0s normal none infinite running ball-zag-deflect;
      }
    }
  }
  &.style8 {
     > div {
      width: 25px;
      height: 25px;
      animation: 1.5s linear infinite scale;
      &:before {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 2px;
        content: "";
        animation: 0.75s linear 0s normal none infinite running rotate;
        border-width: 2px;
        border-style: solid;
        border-color: $color1 $color1 transparent;
        border-radius: 100%;
        border-image: none;
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;

        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
      }
    }
  }
  &.style9 {
    position: relative;
    transform: translate(-25px, -25px);
     > div {
      position: absolute;
      width: 10px;
      height: 10px;
      border: 1px solid $color1;
      border-radius: 100%;
      background: $color1;

      animation-fill-mode: both;
      &:nth-child(1) {
        animation-name: ball-triangle-path-1;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
      &:nth-child(2) {
        animation-name: ball-triangle-path-2;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
      &:nth-child(3) {
        animation-name: ball-triangle-path-3;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
      &:nth-of-type(1) {
        top: 50px;
      }
      &:nth-of-type(2) {
        left: 25px;
      }
      &:nth-of-type(3) {
        top: 50px;
        left: 50px;
      }
    }
  }
  &.style10 {
     > div {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 2px;
      border-radius: 100%;
      background-color: $color1;

      animation-fill-mode: both;
      &:nth-child(0) {
        animation: 0.6s ease-in-out 0s normal none infinite running ball-pulse-sync;
      }
      &:nth-child(1) {
        animation: 0.6s ease-in-out 70ms normal none infinite running ball-pulse-sync;
      }
      &:nth-child(2) {
        animation: 0.6s ease-in-out 0.14s normal none infinite running ball-pulse-sync;
      }
      &:nth-child(3) {
        animation: 0.6s ease-in-out 0.21s normal none infinite running ball-pulse-sync;
      }
    }
  }
}
//style1

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);;
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);;
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
//style2


@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.0);
  }
  50% {
    -webkit-transform: scale(1.0);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.0);
    transform: scale(0.0);
  }
  50% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
//style3
@keyframes line-scale {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
}
//style 4

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
//style 5
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
//style 6
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
//style7
@keyframes ball-zig-deflect {
  17%,
  84% {
    transform: translate(-15px, -30px);
  }
  34%,
  67% {
    transform: translate(15px, -30px);
  }
  100%,
  50% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-zag-deflect {
  17%,
  84% {
    transform: translate(15px, 30px);
  }
  34%,
  67% {
    transform: translate(-15px, 30px);
  }
  100%,
  50% {
    transform: translate(0px, 0px);
  }
}
//style 8
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale {
  30% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
//style9
@keyframes ball-triangle-path-1 {
  33% {
    transform: translate(25px, -50px);
  }
  66% {
    transform: translate(50px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-triangle-path-2 {
  33% {
    transform: translate(25px, 50px);
  }
  66% {
    transform: translate(-25px, 50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes ball-triangle-path-3 {
  33% {
    transform: translate(-50px, 0px);
  }
  66% {
    transform: translate(-25px, -50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
//style 10
@keyframes ball-pulse-sync {
  33% {
    transform: translateY(10px);
  }
  66% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
