
@font-face {
  font-family: 'FagoCo-BoldItalic';
  src: url('FagoCo-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('FagoCo-BoldItalic.otf')  format('opentype'),
	     url('FagoCo-BoldItalic.woff') format('woff'), url('FagoCo-BoldItalic.ttf')  format('truetype'), url('FagoCo-BoldItalic.svg#FagoCo-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
