
@font-face {
  font-family: 'FagoCo';
  src: url('FagoCo.eot?#iefix') format('embedded-opentype'),  url('FagoCo.otf')  format('opentype'),
	     url('FagoCo.woff') format('woff'), url('FagoCo.ttf')  format('truetype'), url('FagoCo.svg#FagoCo') format('svg');
  font-weight: normal;
  font-style: normal;
}
