/*
#senapi-carousel {
  .carousel-indicators {
    bottom: 1px;
    left: unset;
    margin-right: 5px;
    margin-left: unset;
    li {
      background-color: $primary-color;
      &.active {
        background-color: $secundary-color;
      }
    }
  }
  .carousel-inner {
    .carousel-control-prev,
    .carousel-control-next {
      top: 40%;
      bottom: unset;
      display: block;
      width: unset;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 40px;
      height: 40px;
      background-color: #8a8986 ;
      background-size: 40%;
    }
    .carousel-item {
      .carousel-caption {
        position: relative;
        z-index: 10;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 5px;
        text-align: left;
        opacity: 0.9;
        color: #fff;
        background: #8a8986;
        .caption-title {
          margin-bottom: 0;
          text-transform: uppercase;
          font-size: 1.3125rem;
        }
      }
    }
  }
}
*/
