
@font-face {
  font-family: 'FagoCo-Medium';
  src: url('FagoCo-Medium.eot?#iefix') format('embedded-opentype'),  url('FagoCo-Medium.otf')  format('opentype'),
	     url('FagoCo-Medium.woff') format('woff'), url('FagoCo-Medium.ttf')  format('truetype'), url('FagoCo-Medium.svg#FagoCo-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
