.sidr {
  position: fixed;
  z-index: 999999;
  top: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 260px;
  height: 100%;
  color: #fff;
  background: $primary-color;
  box-shadow: 0 0 5px 5px $primary-color inset;
  font-size: 15px;
}
.sidr.sidr-right {
  right: -260px;
  left: auto;
}
.sidr.sidr-left {
  right: auto;
  left: -260px;
}
.sidr .sidr-inner {
  padding: 0 0 15px;
}
.sidr .sidr-inner > p {
  margin-right: 15px;
  margin-left: 15px;
}
@media screen and (max-width: 991px) {
  .sidr-trigger {
    display: none;
  }
}
