//superfish menu
$superfish-1-color: $white;
$superfish-1-background-color-level-first: $primary-color;
$superfish-1-background-color-level-second: $primary-color;
$superfish-1-background-color-level-third: $primary-color;
$superfish-1-background-color-level-fourth: $primary-color;
#block-navegacionprincipal,
.block-superfish,
#sidr {
  #superfish-main,
  #superfish-main-accordion {
    a.menuparent {
      font-weight: bold;
    }
  }
  #superfish-main-accordion-hidden-close {
    position: fixed;
    z-index: 9999;
    padding: 0.308em;
    cursor: pointer;
    background: $superfish-1-background-color-level-first;
    font-size: 20px;
  }
  #superfish-main-accordion-hidden {
    margin-top: 1.923em;
  }
  .sf-style-none {
    //float: left;
    margin: 0;
    //padding: 0;
    &.sf-navbar {
      width: 100%;
      background: $superfish-1-background-color-level-first;
    }
    ul {
      padding-left: 0;
      &.sf-multicolumn li {
        &.sf-multicolumn-wrapper {
          background: $superfish-1-background-color-level-fourth;
          li {
            background: transparent;
          }
        }
      }
    }
    a {
      display: block;
      padding: 1em;
      color: $superfish-1-color;
      font-size: 100%;
      &.sf-with-ul {
        padding-right: 2.25em;
      }
      &:focus {
        outline: 0;
        background: $superfish-1-background-color-level-fourth url($menu-active);
      }
      &:hover {
        text-decoration: none;
        outline: 0;
        background: $superfish-1-background-color-level-fourth url($menu-active);
      }
      &:active {
        outline: 0;
        background: $superfish-1-background-color-level-fourth url($menu-active);
      }
    }
    span {
      &.nolink {
        padding: 1em;
        color: $superfish-1-color;
        &.sf-with-ul {
          padding-right: 2.25em;
        }
        &:hover {
          outline: 0;
          background: $superfish-1-background-color-level-fourth;
        }
      }
      &.sf-description {
        display: block;
        margin: 5px 0 0 5px;
        padding: 0;
        color: $superfish-1-color;
        font-size: 0.833em;
        line-height: 1.5;
      }
    }
    &.rtl {
      span {
        &.sf-description {
          margin: 5px 5px 0 0;
        }
        &.nolink.sf-with-ul {
          padding-right: 1em;
          padding-left: 2.25em;
        }
      }
      a.sf-with-ul {
        padding-right: 1em;
        padding-left: 2.25em;
      }
    }
    li {
      //background: $superfish-1-background-color-level-first url($menu-border) 0 0 repeat-x;
      padding: 2px 0 0;
      li {
        background: $superfish-1-background-color-level-second url($menu-border) 0 0 repeat-x;
        li {
          background: $superfish-1-background-color-level-third url($menu-border) 0 0 repeat-x;
        }
         > ul {
          top: 0!important;
        }
      }
      &:hover {
        outline: 0;
        background: $superfish-1-background-color-level-fourth url($menu-active);
         > ul {
          top: 40px;
          background: $superfish-1-background-color-level-fourth ;
        }
      }
      &.sfHover {
        outline: 0;
        background: $superfish-1-background-color-level-fourth url($menu-active);
         > ul {
          top: 40px;
        }
      }
       > ul {
        border-top: 3px $secundary-color solid;
      }
    }
    .sf-sub-indicator {
      content: "\f107";
      font-family: "FontAwesome";
    }
    .sf-sub-indicator:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "\f107";
      text-indent: 0;
      font-family: "FontAwesome";
      line-height: 1;
    }
  }
  div.sf-accordion-toggle {
    &.sf-style-none a {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 1em 3em 1em 1em;
      color: $superfish-1-color;
      background: $superfish-1-background-color-level-first;
      &.sf-expanded {
        background: $superfish-1-background-color-level-fourth;
        font-weight: bold;
      }
    }
    &.sf-style-none > a:after {
      position: absolute;
      top: 50%;
      right: 0.5em;
      content: "\f0c9";
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-family: "FontAwesome";
      font-size: 2em;

      speak: none;
    }
  }
  .sf-menu.sf-style-none {
    &.rtl {
      &.sf-accordion li {
        li {
          a {
            padding-right: 2em;
            padding-left: auto;
          }
          li {
            a {
              padding-right: 3em;
              padding-left: auto;
            }
            li {
              a {
                padding-right: 4em;
                padding-left: auto;
              }
              li {
                a {
                  padding-right: 5em;
                  padding-left: auto;
                }
                span.nolink {
                  padding-right: 5em;
                  padding-left: auto;
                }
              }
              span.nolink {
                padding-right: 4em;
                padding-left: auto;
              }
            }
            span.nolink {
              padding-right: 3em;
              padding-left: auto;
            }
          }
          span.nolink {
            padding-right: 2em;
            padding-left: auto;
          }
        }
      }
      ul.sf-multicolumn {
        li.sf-multicolumn-wrapper {
          ol li {
            &.sf-multicolumn-column {
              float: right;
            }
          }
        }
      }
    }
    &.sf-accordion li {
      background: $superfish-1-background-color-level-first url($menu-border) 0 0 repeat-x;
      &.sf-expanded {
        background: $superfish-1-background-color-level-fourth url($menu-border) 0 0 repeat-x;
         >  {
          a {
            font-weight: bold;
          }
          span.nolink {
            font-weight: bold;
          }
        }
      }
      li {
        a {
          padding-left: 2em;
        }
        li {
          a {
            padding-left: 3em;
          }
          li {
            a {
              padding-left: 4em;
            }
            li {
              a {
                padding-left: 5em;
              }
              span.nolink {
                padding-left: 5em;
              }
            }
            span.nolink {
              padding-left: 4em;
            }
          }
          span.nolink {
            padding-left: 3em;
          }
        }
        span.nolink {
          padding-left: 2em;
        }
      }
      a.sf-accordion-button {
        position: absolute;
        z-index: 499;
        top: 0;
        right: 0;
        font-weight: bold;
      }
    }
    ul.sf-multicolumn {
      li.sf-multicolumn-wrapper {
        ol {
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            padding: 0;
            &.sf-multicolumn-column {
              display: inline;
              float: left;
            }
          }
        }
        a.menuparent {
          font-weight: bold;
        }
        span.nolink {
          &.menuparent {
            font-weight: bold;
          }
        }
      }
    }
  }
}
